{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% set backlink = request.get("backlink") %}
{% set expressbtn = config("LoginMask.LoginMask.expressbtn") %}

{{ component( "Ceres::Customer.Components.GuestLogin" ) }}

<script type="x/template" id="vue-login-view" >
    <div class="container-max login">
        <div class="row mb-5">
            <div class="col-md-6 mb-4">
                <div id="login-card" class="card h-100">
                    <div class="card-body p-5">
                        <span class="h1 login-view-title d-block mb-2">{{ trans("Ceres::Template.login") }}</span>
                        <p>{{ trans("LoginMask::LoginMask.LoginMaskLogin") }}</p>
                        <login backlink="{{ backlink | url_encode }}" :has-to-forward="true"></login>
                        <div class="mt-3">
                            {% if expressbtn == "active" %}
                            <hr class="inner-hr"><span class="inner-hr-caption">{{ trans("LoginMask::LoginMask.LoginOr") }}</span>
                            {{ LayoutContainer.show("Ceres::Login.AdditionalContentAfterButtons") }}
                            {% else %}
                            {{ LayoutContainer.show("Ceres::Login.AdditionalContentAfterButtons") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div id="guest-register-card" class="card h-100">
                    <div class="card-body p-5">
                        <span class="h1 d-block mb-2">{{ trans("Ceres::Template.loginRegister") }}</span>
                        <p>{{ trans("LoginMask::LoginMask.LoginMaskRegister") }}</p>

                        <div id="b2b-warning" style="padding: 15px; background: #f00; color: #FFF; margin-bottom: 15px; line-height: 1.25;">
                        	    <div class="title">Hinweise zur Registrierung und Bestellung</div>
                                <b>Als Privatperson können Sie bei uns keinerlei Waren bestellen. Alle Bestellungen die von Privatpersonen aufgegeben werden, werden ausnahmslos storniert bzw. nicht verarbeitet. Sofern Sie Verbraucher sind, bitten wie Sie daher von Bestellungen abzusehen. Hygienical behält sich das Recht vor, vor der Auftragsabwicklung Unterlagen zum Nachweis eines Gewerbes anzufordern.</b></span>                      
                                <div class="custom-control custom-checkbox mr-sm-2">
                                  <input type="checkbox" id="customControlAutosizing">
                                  <label for="same-address">Ich habe den obigen Hinweis gelesen und verstanden.</label>
                                </div>	
                        </div>

                        <a class="btn btn-primary btn-lg btn-block" href="{{ urls.registration }}{% if backlink | trim is not empty %}?backlink={{ backlink | url_encode}}{% endif %}">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            {{ trans("Ceres::Template.loginRegister") }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
