{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% set backlink = request.get("backlink") %}
{% set expressbtn = config("LoginMask.LoginMask.expressbtn") %}

{{ component( "Ceres::Customer.Components.GuestLogin" ) }}

<script type="x/template" id="vue-login-view" >
    <div class="container-max login">
        <div class="row mb-5">
             <div class="col-12">
                <div id="b2b-warning" style="padding: 15px; background: #f00; color: #FFF; margin-bottom: 15px; line-height: 1.25;">
                 	    <div class="title">Hinweise zur Registrierung und Bestellung</div>
                         <b>Als Privatperson können Sie in diesem Onlineshop keinerlei Waren bestellen. Alle Bestellungen die von Privatpersonen aufgegeben werden, werden ausnahmslos storniert bzw. nicht verarbeitet. Sofern Sie Verbraucher sind, bitten wie Sie daher von Bestellungen abzusehen. Hygienical behält sich das Recht vor, vor der Auftragsabwicklung Unterlagen zum Nachweis eines Gewerbes anzufordern.</b></span>                      
                         <div class="custom-control custom-checkbox mr-sm-2">
                           <input type="checkbox" id="b2b-check">
                           <label for="same-address">Ich bin Gewerbetreibender, Unternehmer, eine juristische Personen des öffentlichen Rechts oder eine öffentliche Einrichtungen</label>
                         </div>	
                 </div>
            </div>
            <div class="col-md-6 mb-4">
                <div id="login-card" class="card h-100">
                    <div class="card-body p-5">
                        <span class="h1 login-view-title d-block mb-2">Anmeldung als Gewerbekunde</span>
                        <p>{{ trans("LoginMask::LoginMask.LoginMaskLogin") }}</p>
                        <login backlink="{{ backlink | url_encode }}" :has-to-forward="true"></login>
                        <div class="b2b-cf mt-3">
                            {% if expressbtn == "active" %}
                            <hr class="inner-hr"><span class="inner-hr-caption">{{ trans("LoginMask::LoginMask.LoginOr") }}</span>
                            {{ LayoutContainer.show("Ceres::Login.AdditionalContentAfterButtons") }}
                            {% else %}
                            {{ LayoutContainer.show("Ceres::Login.AdditionalContentAfterButtons") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div id="guest-register-card" class="card h-100">
                    <div class="card-body p-5">
                        <span class="h1 d-block mb-2">Registrierung als Gewerbekunde</span>
                        <p>{{ trans("LoginMask::LoginMask.LoginMaskRegister") }}</p>

                        <a class="btn btn-primary btn-lg btn-block b2b-cf" href="{{ urls.registration }}{% if backlink | trim is not empty %}?backlink={{ backlink | url_encode}}{% endif %}">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            {{ trans("Ceres::Template.loginRegister") }}
                        </a>
                        <div class="b2b-cf-hide">
                        <hr style="margin-top: 2.8rem; margin-bottom: 2.8rem">
                        <span class="h1 d-block mb-2">Ich bin Privatkunde</span>
                        <p>Als Privatperson bzw. Verbraucher können Sie alle unsere Artikel wahlweise über die Marktplätze Amazon sowie eBay beziehen. Klicken Sie auf eine der Schaltflächen um direkt zum entsprechenden Store zu gelangen.</p>
                        <div class="button-container d-flex">
                        <a class="btn btn-outline-primary btn-lg btn-block mt-0" href="https://www.amazon.de/s?me=A2L053WQ90D26Z&marketplaceID=A1PA6795UKMFR9" target="_blank">
                            <i class="fa fa-external-link" aria-hidden="true"></i> Zu Amazon
                        </a>
                        <a class="btn btn-outline-primary btn-lg btn-block mt-0" href="https://www.ebay.de/str/Hygienical-Betriebsbedarf" target="_blank">
                            <i class="fa fa-external-link" aria-hidden="true"></i> Zu eBay
                        </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
